<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 20px;
            color: black;
          }
        .link {
            font-size: 26px;
        }
    </style>
</head>
<body>
    {{range .}}
    <p>{{.Id}} - {{ .Startsat }} - {{ .Endsat }} - {{ .Status }} - {{.Alertname}} - {{.Namespace}} -
            {{.Priority}} - {{.Severity}} - {{.Deployment}} - {{.Pod}} - {{.Container}} - {{.Replicaset}}  </p>
    {{end}}
    
    <!-- Pagination controls -->
    <nav>
        <ul class="pagination">
            <li class="page-item {{if eq .CurrentPage 1}}disabled{{end}}">
                <a class="page-link" href="?page={{.PrevPage}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{range .PageNumbers}}
            <li class="page-item {{if eq . $.CurrentPage}}active{{end}}">
                <a class="page-link" href="?page={{.}}">{{.}}</a>
            </li>
            {{end}}
            <li class="page-item {{if eq .CurrentPage .TotalPages}}disabled{{end}}">
                <a class="page-link" href="?page={{.NextPage}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>
