<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Range Form</title>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<body>

    <form action="/export" method="post">
        <input type="text" name="daterange" id="daterange" style="width: 300px;" />
        <button type="submit">Export to Excel</button>
    </form>

    <div class="navigation-pane">
        <p class="link"><a href="/books">HOME</a></p>
        <p class="link"><a href="/home">Select-Date</a></p>
        <button id="showRecordsBtn">Show Records</button>
    </div>

    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <div class="table-container">
                    <table id="myTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fingerprint</th>
                                <th>Startsat</th>
                                <th>Endsat</th>
                                <th>Status</th>
                                <th>Alertname</th>
                                <th>Namespace</th>
                                <th>Priority</th>
                                <th>Severity</th>
                                <th>Deployment</th>
                                <th>Pod</th>
                                <th>Container</th>
                                <th>Replicaset</th>
                            </tr>
                        </thead>
                        <tbody id="wsRefresh">
                        {{range .Books}}
                        <tr>
                            <td>{{.Id}}</td>
                            <td>{{.Fingerprint}}</td>
                            <td>{{ formatDate .Startsat}}</td>
                            <td>{{ formatDate .Endsat}}</td>
                            <td>{{.Status}}</td>
                            <td>{{.Alertname}}</td>
                            <td>{{.Namespace}}</td>
                            <td>{{.Priority}}</td>
                            <td>{{.Severity}}</td>
                            <td>{{.Deployment}}</td>
                            <td>{{.Pod}}</td>
                            <td>{{.Container}}</td>
                            <td>{{.Replicaset}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>

    <script type="text/javascript">
    $(function() {
        var start = moment().subtract(29, 'days');
        var end = moment();
        window.isTodaySelected = false; // Use window to make it global

        function cb(start, end, label) {
            $('#daterange').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
            console.log("Selected Range Label: " + label);
            window.isTodaySelected = (label === 'Today');
        }

        $('#daterange').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            timePickerSeconds: true,
            showDropdowns: true,        
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'), 10),
            ranges: {
                'Today': [moment().startOf('day'), moment().endOf('day')],
                'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                'Last 7 Days': [moment().subtract(6, 'days').startOf('day'), moment().endOf('day')],
                'Last 30 Days': [moment().subtract(29, 'days').startOf('day'), moment().endOf('day')],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        }, cb);

        cb(start, end);
    });

    // showRecordsBtn listener
    $(document).ready(function() {
        $('#showRecordsBtn').on('click', function() {
            console.log("Show Records button clicked.");
            console.log("isTodaySelected: " + window.isTodaySelected);
            const dateRange = $('#daterange').val();
            console.log("Selected Date Range: " + dateRange);

            if (window.isTodaySelected) {
                // Make an HTTP POST request to the server with the selected date range
                $.ajax({                    
                    type: 'POST',
                    url: '/date-range',
                    data: { dateRange: dateRange },
                    success: function(response) {
                        console.log("Server response:", response);
                        // Use the response to establish a WebSocket connection
                        establishWebSocket();
                    },
                    error: function(xhr, status, error) {
                        console.error("POST request failed:", status, error);
                    }
                });
            } else {
                console.log("Please select 'Today' to show records.");
            }
        });
    });

        // Establish websocket
        function establishWebSocket() {
            const websocketUrl = "ws://" + window.location.host + "/ws";
        // Establish WebSocket connection
        const socket = new WebSocket("websocketUrl");

        // WebSocket event handlers
        socket.onopen = function(event) {
            console.log("WebSocket connection established.");
            socket.send(JSON.stringify({ type: 'init', dateRange: dateRange }));
        };

        socket.onmessage = function(event) {
            // Handle incoming WebSocket messages
            console.log("Received message from server:", event.data);
            // Update UI or perform other actions based on the received message
            try {
                const data = JSON.parse(event.data);
                updateTable(data); // Assuming event.data is a JSON string
            } catch (error) {
                console.error("Error parsing JSON data:", error);
            }
        };

        socket.onerror = function(error) {
            console.error("WebSocket error:", error);
        };

        socket.onclose = function(event) {
            console.log("WebSocket connection closed.");
        };
    }

        // Update Table
        function updateTable(data) {
        const tableBody = document.getElementById("wsRefresh");
        tableBody.innerHTML = ""; // Clear the existing table body

        // Loop through the received data and populate the table
        if (Array.isArray(data)) {
            data.forEach(function(rowData) {
                const row = document.createElement("tr");
                for (const key in rowData) {
                    const cell = document.createElement("td");
                    cell.textContent = rowData[key];
                    row.appendChild(cell);
                }
                tableBody.appendChild(row);
            });
        } else {
            console.error("Received data is not an array");
        }
    }


    </script>  

</body>
</html>

